/* trends.css */

.trends-page {
  max-width: 1000px;
  margin: 60px auto;
  padding: 30px;
  background: #111;
  border: 1px solid #333;
  border-radius: 12px;
  box-shadow: 0 0 10px #00ff99;
  text-align: center;
}

.trends-title {
  color: #00ff99;
  font-size: 2rem;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.trends-desc {
  color: #ccc;
  margin-bottom: 30px;
}

.chart-wrapper {
  background: #000;
  padding: 20px;
  border-radius: 12px;
  border: 1px solid #222;
}

.empty-text {
  color: #888;
  text-align: center;
}
